<!DOCTYPE html>
<html lang="en">

{% include head.html %}





<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122666414-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-122666414-1');
    </script>


</body>

</html>
